.loginform {
    max-width: 450px;

    .loginform-input {
        margin-top: 8px;
    }

    .loginform-button {
        margin-top: 15px !important;
    }
}


.enquiryform {
    margin-top: 30px;
}